@model IEnumerable<clinic_panel.DTOs.UserRolesDTO>

<br />
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr class="info">
        <th>
            الصلاحية
        </th>
        <th>
            التوصيف
        </th>
        <th>
            عدد المستخدمين
        </th>
        @*<th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsersCount)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>*@
    </tr>
}

</table>
