<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تحكم العيادات - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @RenderSection("Styles", required: false)
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("تحكم العيادات", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated)
                {
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("المستخدمين", "Index", "User")</li>
                    <li>@Html.ActionLink("الأطباء", "Index", "Doctor")</li>
                    <li>@Html.ActionLink("الصيدليات", "Index", "Pharmacy")</li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            قيم النظام
                            <span class="caret"></span>
                        </a>
                        <ul class="nav dropdown-menu" role="menu">
                            <li>@Html.ActionLink("الأدوية", "Index", "Medicine")</li>
                            <li>@Html.ActionLink("الأمراض المصاحبة", "Index", "Disease")</li>
                            <li>@Html.ActionLink("أنواع رفع الملفات", "Index", "FileType")</li>
                            <li>@Html.ActionLink("باقات الاشتراك", "Index", "Plan")</li>
                            <li>@Html.ActionLink("تخصصات الأطباء", "Index", "Specialty")</li>
                            <li>@Html.ActionLink("صلاحيات المستخدمين", "Roles", "User")</li>
                            <li>@Html.ActionLink("المحافظات والمدن", "Index", "City")</li>
                            <li>@Html.ActionLink("درجات الأمراض", "Index", "Grades")</li>
                            <li>@Html.ActionLink("أنواع الحالة الاجتماعية", "Index", "SocialStatus")</li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            الحسابات
                            <span class="caret"></span>
                        </a>
                        <ul class="nav dropdown-menu" role="menu">
                            <li>@Html.ActionLink("ملخص الحسابات", "Index", "Payment")</li>
                            <li>@Html.ActionLink("المصروفات", "Expenses", "Payment")</li>
                        </ul>
                    </li>
                </ul>
                    @Html.Partial("_LoginPartial")
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        @*<footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/datepicker-ar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    @Html.Raw(TempData["alert"])
</body>
</html>
