@using System.Globalization;
@model IEnumerable<clinic_panel.DTOs.ExpenseDTO>

@{
    ViewBag.Title = "Expenses";
}

<h2>بيانات المصروفات</h2>

<p>
    @Html.ActionLink("إضافة مصروف", "Create")
</p>
<table class="table table-striped">
    <tr class="info">
        <th>
            المبلغ المصروف
        </th>
        <th>
            تاريخ الصرف
        </th>
        <th>
            سبب الصرف
        </th>
        <th>
            إضافة بتاريخ
        </th>
        <th>
            إضافة بواسطة
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.ExpenseCost.ToString("C0", CultureInfo.CreateSpecificCulture("ar-EG"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
        </tr>
    }

</table>
