@model clinic_panel.DTOs.PlanDetailsDTO

@{
    ViewBag.Title = "تفاصيل الباقة";
}

<h2>تفاصيل الباقة</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            اسم الباقة:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            رسوم الاشتراك أول مرة:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SignUpFee) ج.م
        </dd>

        <dt>
            نوع التجديد:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RenewalType)
        </dd>

        <dt>
            رسوم التجديد:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RenewalFee) ج.م
        </dd>

        <dt>
            فترة السماح بعد انتهاء الاشتراك:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GracePeriodDays) يوم
        </dd>

        <dt>
            العدد الأقصى للمستخدمين:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxUsers)
        </dd>

        @if (Model.MaxBookingsMonthly != null)
        {
            <dt>
                العدد الأقصى للزيارات شهريا:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaxBookingsMonthly) زيارة
            </dd>
        }

        @if (Model.MaxFilesMonthlyMB != null)
        {
            <dt>
                الحد الأقصى لرفع الصور شهريا:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaxFilesMonthlyMB) MB
            </dd>
        }

        @if (Model.MaxFileSizeMB != null)
        {
            <dt>
                أقصى مساحة لرفع الصورة الواحدة:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaxFileSizeMB) MB
            </dd>
        }

            <dt>
                تفعيل الباقة:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

            <dt>
                إنشاء بتاريخ:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedOn)
            </dd>

            <dt>
                إنشاء بواسطة:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>

            <dt>
                آخر تعديل بتاريخ:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UpdatedOn)
            </dd>

            <dt>
                آخر تعديل بواسطة:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UpdatedBy)
            </dd>

        </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("رجوع", "Index")
</p>
