@model IEnumerable<clinic_panel.DTOs.PlanIndexDTO>

@{
    ViewBag.Title = "الباقات";
}

    <h2>الباقات</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr class="info">
        <th>
            اسم الباقة
        </th>
        <th>
            التفعيل
        </th>
        <th>
            رسوم الاشتراك
        </th>
        <th>
            نوع التجديد
        </th>
        <th>
            رسوم التجديد
        </th>
        <th>
            عدد المستخدمين الأقصى
        </th>
        <th>
            عدد الزيارات الأقصى
        </th>
        <th>
            عدد المشتركين حاليا
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsActive)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SignUpFee) ج.م
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RenewalType)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RenewalFee) ج.م
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MaxUsers)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MaxBookingsMonthly)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SubscriptionsCount)
    </td>
    <td>
        @Html.ActionLink("التفاصيل", "Details", new { id = item.Id }) @*|
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
    </td>
</tr>
}

</table>
