@model clinic_panel.DTOs.DoctorDetailsDTO

@{
    ViewBag.Title = "تفاصيل الطبيب";
}

<h2>تفاصيل الطبيب</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            اسم الطبيب:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            التخصص:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialty)
        </dd>

        <dt>
            هاتف 1:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone1)
        </dd>

        <dt>
            هاتف 2:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone2)
        </dd>

        <dt>
            هاتف 3:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone3)
        </dd>

        <dt>
            واتس آب:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WhatsApp)
        </dd>

        <dt>
            الإيميل 1:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email1)
        </dd>

        <dt>
            الإيميل2:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email2)
        </dd>

        <dt>
            فيسبوك:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facebook)
        </dd>

        <dt>
            تويتر:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Twitter)
        </dd>

        <dt>
            لينكد إن:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkedIn)
        </dd>

        <dt>
            إنستجرام:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instagram)
        </dd>

        <dt>
            باقة الاشتراك:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plan)
        </dd>

        <dt>
            ملاحظات على الاشتراك:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubsNote)
        </dd>

        <dt>
            سعر الإشتراك:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SignUpFee) ج.م
        </dd>

        <dt>
            المبلغ المدفوع:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paid) ج.م
        </dd>

        @*<dt>
            تاريخ دفع المتبقي (إن وجد):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextPaymentDate)
        </dd>*@

        <dt>
            ملاحظات على الدفع:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayNote)
        </dd>

        <dt>
            اسم العيادة:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClinicName)
        </dd>

        <dt>
            ترتيب دخول الحجوزات:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryOrder)
        </dd>

        <dt>
            مدة الحجز:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingPeriod) دقيقة
        </dd>

        <dt>
            مدة صلاحية الاستشارة:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultExpiration) يوم
        </dd>

        <dt>
            اسم الطبيب في الطباعة:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintDoctorName)
        </dd>

        <dt>
            الدرجة العلمية للطبيب في الطباعة:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintDoctorDegree)
        </dd>

        <dt>
            اسم العيادة في الطباعة:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintClinicName)
        </dd>

        <dt>
            العنوان 1 في الطباعة:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintAddress1)
        </dd>

        <dt>
            العنوان 2 في الطباعة:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintAddress2)
        </dd>

        <dt>
            العنوان 3 في الطباعة:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintAddress3)
        </dd>

        <dt>
            هاتف 1 في الطباعة:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintPhone1)
        </dd>

        <dt>
            هاتف 2 في الطباعة:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintPhone2)
        </dd>

        <dt>
            هاتف 3 في الطباعة:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintPhone3)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new {  doctorId = Model.DoctorId, clinicId= Model.ClinicId  }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("رجوع", "Index")
</p>
