@using System.Globalization;
@{
    ViewBag.Title = "الرئيسية";
}

<div class="row text-center">
    <div class="col-md-4">
        <h2>عدد الأطباء المشتركين</h2>
        <p>@ViewBag.DoctorsCount</p>
        <p>@Html.ActionLink("بيانات الأطباء »", "Index", "Doctor", null, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>عدد مستخدمي النظام</h2>
        <p>@ViewBag.UsersCount</p>
        <p>@Html.ActionLink("بيانات المستخدمين »", "Index", "User", null, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>إجمالي المبالغ المطلوبة</h2>
        <p>@(((decimal)ViewBag.TotalDue).ToString("C0", CultureInfo.CreateSpecificCulture("ar-EG")))</p>
        <p>@Html.ActionLink("الحسابات »", "Index", "Payment", null, new { @class = "btn btn-primary" })</p>
    </div>
</div>