@{
    ViewBag.Title = "الرئيسية";
}

<div class="row text-center">
    <div class="col-md-4">
        <h2>عدد الأطباء المشتركين</h2>
        <p>@ViewBag.DoctorsCount</p>
        <p>@Html.ActionLink("بيانات الأطباء »", "Index", "Home",new { @class="btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>عدد عيادات الأطباء</h2>
        <p>@ViewBag.ClinicsCount</p>
        <p>@Html.ActionLink("بيانات العيادات »", "Index", "Home", new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>إجمالي الزيارات في آخر شهر</h2>
        <p>@ViewBag.VisitsCount</p>
        <p>@Html.ActionLink("بيانات الزيارات »", "Index", "Home", new { @class = "btn btn-primary" })</p>
    </div>
</div>