@model clinic_panel.Models.Clinic

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Clinic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClinicName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClinicName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsultExpiration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultExpiration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrintDoctorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintDoctorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrintDoctorDegree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintDoctorDegree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrintClinicName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintClinicName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrintLogoUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintLogoUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrintAddress1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintAddress1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrintAddress2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintAddress2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrintAddress3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintAddress3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrintPhone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintPhone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrintPhone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintPhone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrintPhone3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintPhone3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAllDaysOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAllDaysOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAllDaysSameTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAllDaysSameTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllDaysTimeFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllDaysTimeFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllDaysTimeTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllDaysTimeTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaturdayTimeFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaturdayTimeFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SundayTimeFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SundayTimeFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MondayTimeFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MondayTimeFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TuesdayTimeFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TuesdayTimeFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WednesdayTimeFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WednesdayTimeFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThursdayTimeFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThursdayTimeFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FridayTimeFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FridayTimeFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaturdayTimeTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaturdayTimeTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SundayTimeTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SundayTimeTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MondayTimeTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MondayTimeTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TuesdayTimeTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TuesdayTimeTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WednesdayTimeTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WednesdayTimeTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThursdayTimeTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThursdayTimeTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FridayTimeTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FridayTimeTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SysEntryOrderValue.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SysEntryOrderValue.Value)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
