@model IEnumerable<clinic_panel.DTOs.ClinicIndexDTO>

@{
    ViewBag.Title = "Index";
}

<h2>قائمة العيادات</h2>

<p>
    @Html.ActionLink("إضافة عيادة", "Create")
</p>

<table class="table table-bordered table-striped">
    <tr class="info">
        <th>
            اسم العيادة
        </th>
        <th>
            أطباء العيادة
        </th>
        <th>
            موظفي العيادة
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClinicName)
            </td>
            <td>
                <ul>
                    @foreach (var doctor in item.Doctors)
                    {
                        <li>@doctor</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var emp in item.Employees)
                    {
                        <li>@emp</li>
                    }
                </ul>
            </td>
            <td>
                @Html.ActionLink("تعديل اسم العيادة", "Edit", new { id = item.Id }) |
                @Html.ActionLink("إضافة طبيب", "AddDoctor", new { id = item.Id }) |
                @Html.ActionLink("إضافة موظف", "AddEmployee", new { id = item.Id })
            </td>
        </tr>
    }

</table>
