@model IEnumerable<clinic_panel.Models.SysCitiesValue>

@{
    ViewBag.Title = "المدن";
}

<h2>مدن محافظة: @ViewBag.Gov</h2>


<p>
    @Html.ActionLink("إضافة مدينة", "Create",new { id = ViewBag.GovId })
</p>
<table class="table">
    <tr class="info">
        <th>
            المدينة/عربي
        </th>
        <th>
            المدينة/إنجليزي
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TextAR)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TextEN)
    </td>
    <td>
        @Html.ActionLink("تعديل", "Edit", new { id = item.Id })@* |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
    </td>
</tr>
    }

</table>
<p>
    @Html.ActionLink("رجوع", "Index")
</p>
