@model clinic_panel.DTOs.FileTypeIndexDTO

@{
    ViewBag.Title = "أنواع رفع الملفات";
}

    <div class="row">
        <div class="col-md-6">
            <h2>أنواع ملفات الأشعة</h2>

            <p>
                @Html.ActionLink("إضافة نوع ملف أشعة", "CreateRayFileType")
            </p>

            <table class="table">
                <tr class="info">
                    <th>
                        نوع الملف
                    </th>
                    <th>
                        عدد الملفات المرفوعة
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.RayFileTypes)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FilesCount)
                </td>
                <td>
                    <a href="@Url.Action("EditRayFileType",new { id= item.Id })">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
            </tr>
                }
            </table>
        </div>
        <div class="col-md-6">
            <h2>أنواع ملفات التحاليل</h2>

            <p>
                @Html.ActionLink("إضافة نوع ملف تحاليل", "CreateAnalysisFileType")
            </p>

            <table class="table">
                <tr class="info">
                    <th>
                        نوع الملف
                    </th>
                    <th>
                        عدد الملفات المرفوعة
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.AnalysisFileTypes)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FilesCount)
                </td>
                <td>
                    <a href="@Url.Action("EditAnalysisFileType",new { id= item.Id })">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
            </tr>
                }
            </table>
        </div>
    </div>
